@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

html {

    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

.container {
        margin: auto;
    /* background-color: aqua; */
    height: auto;
    width: 1280px;
}

/* navbar */


nav {
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.417);
    display: flex;
    position: fixed;
}

.box-nav{
    /* background-color: aqua; */
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
}

.logo img{
    width: 135px;
    height: 30px;
    margin-top: 6px;
    margin-left: 30px;
}

.nav-item {
    /* background-color: blue; */
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 150px;
}
.nav-item ul{
    /* background-color: blue; */
    flex-direction: row;
    display: flex;
    gap: 35px;
    justify-content: center;
}

.nav-item ul li a{
    font-size: 15px;
}

.nav-item button {
    
    border: none;
    cursor: pointer;
    line-height: 1.2rem;
    background: #27AE60;
    padding: 8px 30px 9px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff;
    height: 36px;
    transition: all 75ms ease-in-out;
    
}

.nav-item button:hover{
    box-shadow: 0 1px 4px rgb(0 0 0 / 30%);
}

li {
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #000;
}


/* navbar */

/* main */

#banner {
    width: 100%;
    height: 102vh;
    background-image: url('aset/header-bg.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 0vh ; */
    display: flex;
}



.content h1{
    font-size: 65px;
    font-weight: 700;
    color: white;
}



.btn button{
    border: none;
    cursor: pointer;
    width: 163px;
    background: #27AE60;
    font-size: 17px;
    font-family: poppins;
    font-weight: 600;
    border-radius: 20px;
    color: #fff;
    height: 57px;
    transition: all 75ms ease-in-out;
    margin-top: 30px;
}

.btn button:hover{
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.3);
}

/* main */

/* main2 */
#goal {
    height: 110vh;
}

.kotak {
    display: flex;
    flex-direction: column;
    /* background-color: #27AE60; */
    margin-top: 120px;
}

.judul{
    align-items: center;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.judul h1 {
    font-size: 44px;
    font-weight: 600;
}

.judul p {
    text-align: center;
    font-size: 15px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 100px;
    /* background-color: #27AE60; */
    justify-content: center;
}

.center {
    background-color: aqua;
    gap: 70px;
    /* display: flex; */
}

.grid-item {
    /* border: 1px solid black; */
    transition: 0.6s;
    width: 360px;
    height: 525px;
    margin: auto;
    
}

.grid-item h1 {
    font-weight: 500;
}

.grid-item p {
    font-size: 11px;
    line-height: 16px;
    font-weight: 400;
}
/* main2 */

/* main 3 */

#rating {
    width: 100%;
    height: 80vh;
    background-color: #E74C3C;
    display: flex;
    /* background-image: url(aset/pngwing.com\ \(2\).png); */
}

.bonus {
    /* background-color: #27AE60; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

.kiri img {
    width: 444px;
    transition: 1s;
}

.kiri img:hover {
    transform: scale(0.9);
}

.kanan p {
    font-size: 56px;
    color: #fff;
    font-weight: 800;
}

/* main 3 */

/* main 4 */

.bannerl{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('aset/disabilitas.jpeg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    }
    
    .contentl {
    
    /* top: 50%; */
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    margin: auto;
    }
    
    .contentl h1 {
    font-size: 90px;
    font-weight: 800;
    }
    
    .contentl p {
    width: 500px;
    }

/* main 4 */

