@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}


html {
    scroll-behavior: smooth;
}

.link {
    text-decoration: none;
    color: #000;
    font-family: poppins;
}














#ame {
    background-color: azure;
    padding: 40px 60px;
    height: 100vh;
    display: flex;
    margin: auto;
}

.container {
    /* background-color: blueviolet; */
    padding: 40px 60px;
    width: 4000px;
    display: flex;
    margin: px,70px,70px, px;

}

.content {
    display: flex;
    padding-top: 40px;
    /* background-color: aqua; */
}

.konten-left {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 30px;
}

.kiri {
    /* background-color: #D9D9D9; */
    height: 50%;
    display: flex;
    margin:  auto;
    margin-right: 210px;
    margin-top: 115px;
    flex-direction: column;
}

.sa {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.du {
    color: #000;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ti {
    color: #000;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn {
    border-radius: 56px;
    border: 1px solid var(--button);
    width: 167px;
    height: 40px;
    cursor: pointer;
    margin-top: 15px;

}

.btn a {
    color: var(--button-text);
    text-decoration: none;
    font-family: poppins;
    font-size: 15px;

}

.kanan {
    flex-direction: row;
    margin: 30px, px, px, -30px;
    /* background-color: #D9D9D9; */


}

.img img{
    width: 580px;
    height: 552px;
    margin: auto;
    /* background-color: #4F4949; */
    
}

#ame2 {
    background-color: azure;
    padding: 40px 60px;
    height: 1px;
    display: flex;
    margin: auto;
}

.kiri2 {
    flex-direction: row;
    margin: 30px, px, px, -30px;
    /* background-color: #D9D9D9; */
}

.kanan2 {
    /* background-color: #D9D9D9; */
    height: 50%;
    display: flex;
    margin:  auto;
    margin-right: 210px;
    margin-top: 115px;
    flex-direction: column;
}

#Services {
    margin: 0; padding: 0;
    /* box-sizing: border-box; */
    outline: none;
    border: none;
    text-transform: capitalize;
    background-color:  #eae3e0;
}

.containers .boxc .box img {
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
}

.containers {
    height: 100vh;
    padding: 70px 9%;
    padding-bottom: 100px;
}


.containers .heading {
    text-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    padding-bottom: 15px;
    color: black;
    font-size: 50px;
}

.containers .boxc {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;   
    justify-content: center;
}

.containers .boxc .box {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px 20px;
    transition: 0.1s;
}

.boxc.box h3 {
    padding: 10px 90px;
}

.box p {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

 .heading {
    padding-bottom: 70px;
    /* background-color: #1E212D; */
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.box:hover {
    transform: scale(1.1);
}

.cv {
    display: flex;
    background-color: rgb(221, 221, 221);
    width: 60px;
    height: 30px;
    margin: auto;
    border-radius: 10px;
    margin-top: 25px;
    box-shadow: 2px 1px 5px;
}

.cv a {
    text-decoration: none;
    margin: auto;
    color: #000;
}