@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    font-family: "poppins";
    background-color: #F5F5F5;
}

/* navbar */

#kiri {
    background-color: #373737;
    height: 100vh;
    width: 50vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #D9D9D9;
    height: 70%;
    width: 80%;
    display: flex;
    border-radius: 5px;
}

.navbox {
    /* background-color: aliceblue; */
    margin: auto;
}

.navbox .nav-item ul li {
    list-style: none;
}

.navbox ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.navbox ul li button {
    border: none;
    width: 200px;
    height: 50px;
    background-color: #A1A1A1;
    font-family: "poppins";
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s;
}

.navbox ul li button:hover {
    box-shadow: 7px 10px 20px #a1a1a131;
    transform: scale(1.1);
}

/* navbar */

#kanan {
    /* background-color: bisque; */
    width: 100%;
}

.box-atas {
    background-color: #D9D9D9;
    height: 28vh;
    width: 79.8%;
    box-shadow: 5px 1px 20px #a1a1a1;
    position: absolute;
    z-index: -1;
}

.profile {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
}

.profile img {
    width: 300px;
    height: 300px;
    border-radius: 900px;
    border: 1px solid black;
}

.name {
    font-size: 30px;
    margin-top: 10px;
    font-weight: 600;
}

.box {
    display: flex;
    justify-content: center;
}

.box-info {
    background-color: #ffffff;
    margin-top: 30px;
    width: 60vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 9px 20px #a1a1a198;
}

.box-text ul li{
    list-style: none;
    font-size: 30px;
}

